* {
    margin: 0;
    padding: 0;
}
img {
    height: 25%;
    width: 25%;
    padding: 5vh;
}
section h1{
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    text-transform: uppercase;
}
section p{
    font-size: 20px;
    padding: 5vh;
}

.about {
    background-color: aqua;
}
.projects {
    background-color:brown;
}
.contact {
    background-color:blueviolet;
}