/* FONTS */
@font-face {
    font-family: TheQueen;
    src: url(/assets/the-queen.regular.ttf);

    font-family: OstrichSans;
    src: url(/assets/OstrichSans-Medium.otf);
}
/* BODY */
body {
    background-color: rgb(19, 104, 64);
    background-image: url(../assets/background/contact.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
}

/* EMELEMENTS */
.main_title {
    color: white;
    font-size: 100px;
    padding: 50px;
    font-family: TheQueen, serif;
    text-align: center;
    text-decoration: underline;
}
p{
    padding-top: 85px;
    color: rgb(211, 211, 211);
    font-size: 35px;
    font-family: Helvetica, sans-serif, serif;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}
#list{
    color: rgb(211, 211, 211);
    font-size: 35px;
    font-family: OstrichSans;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}
img{
    height: 50px;
    width: 50px;
    offset: 1 5 100;
    transform: translateY(18%);
}