@font-face {
    font-family: ExtraBold;
    src: url('../../open-sans.extrabold.ttf');
}

body {
    background-color: white;
    font-size: 26px;
    margin-bottom: 5vh;
    margin-top: 5vh;
    padding: 50vh;
    padding-top: 5vh;
}
h1 {
    text-align: center;
    font-family: ExtraBold;
}
h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem 0;
}
h3 {
    color: rgb(107, 107, 107);
    font-size: 75%;
    text-align: center;
    font-family: ExtraBold, Helvetica, sans-serif;
    font-weight: lighter;
    margin: 1rem 0;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem 0;
    font-size: 20px;
}