@font-face {
    font-family: ExtraBold;
    src: url('open-sans.extrabold.ttf');
}

body {
    background-color: white;
    scroll-behavior: auto;
    scroll-behavior: smooth;
    transition: opacity 1.0s ease-in-out;
}

#main {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1.0s ease-in-out;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

h1 {
    text-align: center;
    font-family: ExtraBold;
    font-size: 50px;
    margin-top: -350px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

/*BUTTONS*/
.invisible_button {
    position: absolute;
    border: none;
    border-radius: 50%;
    filter: blur(15px);
    opacity: 0%;

    transition: opacity 0.2s ease;
}
.invisible_button:hover {
    opacity: 20%;
    cursor: pointer
}
#car_button {
    background-color: #ff0000;
    top: 850px;
    left: 560px;
    width: 250px;
    height: 180px;
}
#tree_button {
    background-color: #009245;
    top: 600px;
    left: -340px;
    width: 350px;
    height: 300px;
}
#window_button {
    background-color: #fbb03b;
    top: 600px;
    left: 280px;
    width: 250px;
    height: 150px;
}
/* #laundry_button {
    background-color: #3fa9f5;
    top: -325px;
    left: -350px;
    width: 300px;
    height: 150px;
} */