@font-face {
    font-family: ExtraBold;
    src: url('open-sans.extrabold.ttf');
}

body {
    background-color: white;
}

#main {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

h1 {
    font-family: ExtraBold;
    font-size: 200px;
    transform: translate(100%, 100%);
    color: black;
}

/*BUTTONS*/
.invisible_button {
    position: absolute;
    border: none;
    border-radius: 50%;
    filter: blur(15px);
    opacity: 0%;

    transition: opacity 0.2s ease;
}
.invisible_button:hover {
    opacity: 20%;
}
#car_button {
    background-color: #ff0000;
    top: 75px;
    left: 130px;
    width: 350px;
    height: 200px;
}
#tree_button {
    background-color: #009245;
    top: -125px;
    left: -690px;
    width: 350px;
    height: 400px;
}
#window_button {
    background-color: #fbb03b;
    top: -200px;
    left: 80px;
    width: 250px;
    height: 150px;
}
/* #laundry_button {
    background-color: #3fa9f5;
    top: -325px;
    left: -350px;
    width: 300px;
    height: 150px;
} */